.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
    background-image: url("../Content/Pictures/pix.jpg");
    min-height: 400px;
}

.bgimg-2 {
    background-image: url("../Content/Pictures/happy-gir.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("../Content/Pictures/raining.jpg");
    min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

    .caption span.border {
        background-color: #8f0222;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
    }

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

a{
   color: white;
   text-decoration: none;
}

    a:hover {
        color: #b1ab06;
        text-decoration: none;
    }