
@{
    ViewBag.Title = "Confirm your email address";
}
<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for registering a new account. Please confirm your email before logging in.
    </p>
</div>

