@{
    ViewBag.Title = "Disclaimer";
}
<h2>@ViewBag.Title.</h2>


<p>Use of this Bank website is subject to the following conditions and restrictions:
The accuracy and completeness of the information cannot be guaranteed. The website
provides only financial products and services. Changes can be made without prior
notice. The information provided is not intended as a substitute for professional
advice. Without verification or further advice, the information is used on their own account
and risk by the users.</p>
