@{
    ViewBag.Title = "Contact";
}

@Styles.Render("~/Content/parallax.css")

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <div class="bgimg-1">
        <div class="caption">
            <span class="border">Contact</span>
        </div>
    </div>

    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;">Address</h3>

        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Contact us</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border"><a href="olympeaa.html">Create Account!<a></span>
        </div>
    </div>
